# Python
__pycache__/
*.pyc

# venv
.venv/
venv/

# PyInstaller
build/
dist/
dist-macos-intel/
*.spec
!ColourSpace Patch Rx.spec
dmg_temp/
dmg_temp_intel/

# macOS
.DS_Store

# App / dmg
*.app
*.dmg

# ignore personal / dev stuff
tools/
src/archive

# Legacy/local-only material
build-dmg-intel.sh
assets other
build other
manual other
manual
release
.idea/
